.mejs__player .mejs__controls {
	background:rgba(10,64,71,0.98);
	height:40px;
	border-radius: 4px;
}

.mejs__player .mejs__controls .mejs__button button {
    outline:none;
}

.mejs__player .mejs__controls .mejs__captions__button {
	margin:0 7px;  
}


.mejs__player .mejs__controls .mejs__captions__selector {
    background:rgba(56,64,71,0.98);
    width:100px;
    right:auto;
}

.mejs__player .mejs__controls .mejs__time__rail {
	padding:0;
}

.mejs__player .mejs__controls .mejs__time__rail span {
	height:100%;
	border-radius: 0px;
}