
* {
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: #edeff0;
  font-size: 1rem;
  font-family: 'Ravi Prakash', cursive;
  line-height: 2;
}

h1 {
  margin: 15px 0;
  text-align: center;
}


.outer-container {
  margin: 4%;
  box-shadow: 0 4px 0 rgba(0,0,0,0.06);
}

.inner-container {
  padding: 4%;
  background-color: #fff;
}

video {
  max-width: 100%;
  position: absolute;
}

.highlight {
  color: #fff;
  background-color: #004d99;
}
footer p {
  padding: 2em;
  text-align: center; }

/* ================================
    MediaElement Styles
   ================================ */

.mejs__container {
  background-color: #fff;
}

.mejs__custom .mejs__controls {
  background: #004d99;
}

.mejs__custom .mejs__controls .mejs__time-slider,
.mejs__custom .mejs__controls .mejs__time-loaded {
  background: rgba(255, 255, 255, 0.3);
}

.mejs__custom .mejs__controls .mejs__time-current {
  background: #c4193e;
}

.mejs__custom .mejs__controls .mejs__time-float,
.mejs__custom .mejs__controls .mejs__volume-slider {
  color: #fff;
  background: #c4193e;
  opacity: 1;
  border: 1px solid #232122;
}


/* ================================
    Media Queries
   ================================ */

@media (min-width: 768px) {

  body {
    max-width: 1000px;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
